/* How to override the default Bootstrap navbar */

/*.navbar-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
  line-height: 50px;
}

.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus {
  color: white;
}*/

@import "compass/css3";

/*Hear goes the scroll down button */
section {
	position: relative;
	width: 100%;
	height: 100%;
}
section::after {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 100%;
	height: 80%;
	background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	color: #0dc27a;
	font : normal 300 64px/1 'Josefin Sans', sans-serif;
	text-align: center;
	white-space: nowrap;
}

.demo a {
	position: absolute;
	bottom: 20px;
	left: 50%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #0dc27a;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover {
	opacity: .5;
}


#section03 a {
	padding-top: 60px;
}
#section03 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #0dc27a;
	border-radius: 100%;
	box-sizing: border-box;
}
#section03 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #0dc27a;
	border-bottom: 1px solid #0dc27a;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}
#section03 a span::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	content: '';
	width: 44px;
	height: 44px;
	box-shadow: 0 0 0 0 #0dc27a;
	border-radius: 100%;
	opacity: 0;
	-webkit-animation: sdb03 3s infinite;
	animation: sdb03 3s infinite;
	box-sizing: border-box;
}
@-webkit-keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb03 {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		box-shadow: 0 0 0 60px rgba(255,255,255,.1);
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}


/*Here goes the rest*/


body{
	font-color: #5b5b5b;
	font-family: "Noto Sans", sans-serif;
}

.effect6
{
  	position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect6:before, .effect6:after
{
	content:"";
    position:relative;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:50%;
    bottom:0;
    left:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect6:after
{
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


/*to avoid blank space at the right end of the page!!!*/
.row{
	margin: 0 auto;
}


.wrapper p{
	margin: 0 auto;
	padding-top: 6em;
	padding-left: 40px;
	padding-right: 40px;
	/*text-align: left;*/
	float: right;
	text-align: justify;
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;

}
.wrapper img{
	padding-top: 70px;
}

.bottom-wrapper{
	padding-top: 2em;
	padding-left: 40px;
	padding-right: 40px;
	/*float: right;*/
	font-size: 24px;
	font-weight: 400;
	letter-spacing: 1px;

}

.bottom-wrapper p{
	margin-left: 60px;

}

.killer-feature{
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 50px;

}


.spacer{
	height: 8em;
}


.feature i{
	font-size: 50px;
	margin-bottom: 1em;
}

.feature strong{
	font-size: 30px;
	font-weight: 400;
}

.feature{
	font-weight: 400;
	font-size: 18px;
	letter-spacing: 1px;
}

h1{
	text-align: center;
	font-family: "Noto Sans", sans-serif;
	font-size: 40px;
	margin-top: 2em;
}

h2{
	font-weight: 400;
	font-size: 24px;
	text-align: center;
}

/*.test {
	margin-bottom: 2em;
}*/

.down-wrapper p{
	padding-top: 40px;
	padding-left: 50px;
	padding-right: 40px;
	padding-bottom: 100px;
	/*text-align: left;*/
	float: left;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 1px;
}
.down-wrapper img{
	margin-top: 1em;
	padding-right: 40px;
}

.down-wrapper h1{
	text-align: left;
	font-family: "Noto Sans", sans-serif;
	font-size: 40px;
	margin-top: 2em;
}

.text-left{
	padding-left: 40px;

}

#schema{
	text-align:center;
	 width: 100%;
    height: auto;

}


form {
	text-align: center;
	padding-bottom: 2em;
}

input[type="submit"] {
	border: none; 
	background-color: #25cdf4; 
	color: white; 
	text-transform: uppercase;
	font-weight: bold;
	padding: 1em;
	border-radius: .3em;
	width: 10%;
}

input[type="submit"]:hover {
	background-color: #222;
	transition: .5s;
}

input[type="email"] {
	border: none;
	background-color: #ddd;
	padding: 1em;
	border-radius: .5em;
	width: 25%;
}

input[type="email"]:focus:invalid {
	outline: none;
	border: 1px solid #c0392b;
	box-shadow: 0 0 5px #e74c3c;
	transition: all .3s ease-in-out;

}

input[type="email"]:focus:valid {
	outline: none;
	border: 1px solid #27ae60;
	box-shadow: 0 0 5px #2ecc71;
	transition: all .3s ease-in-out;

}

.countdown ul {
  top:50%;
  left: 50%;
  width:200px;
  margin-top:-25px;
  margin-left:-350px;
  list-style:none;
}  
.countdown  li {
    width:24.4333%;
    display:inline-block;
    text-align:center;
}    
.countdown span {
      font-size: 42px;
      font-weight:bold;
}



hr.soften {
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.8), rgba(0,0,0,0));
  border: 0;
}


#footer{
	background-color: #75d392;
	height: 80px;
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;

}

#footer p{
	font-size: 20px;
}
#footer a{
	font-size: 24px;
	color: #5b5b5B;
	padding-left: 10px;
	padding-right: 10px;
}
#footer a:hover{
	color: #aaaaaa;
}


/*here goes the parallax effect*/


